// we want to use the rust compiler when deploying
// but in dev there is currently (march 2022) a bug with styled-components
// that causes all styled components css to disappear after reloading the page
// this bug does not appear in deployment, so we fix it locally by falling
// back to the old babel compiler

{
  "presets": ["next/babel"],
  "plugins": [["styled-components", { "ssr": true }]]
}