.theme {
  --color-text: hsl(12, 5%, 4%);
  --color-link: rgb(162, 84, 60);
  --color-link-bg: rgba(162, 84, 60, 0.2);
  --color-background: hsl(26, 50%, 95%);
}

.theme .dark {
  --color-text: rgb(229, 231, 235);
  --color-link: rgb(100, 202, 202);
  --color-link-bg: rgba(100, 202, 202, 0.4);
  --color-background: rgb(16, 12, 8);
}

.theme a {
  color: var(--color-link);
  text-decoration: none;
  border-color: var(--color-link);
}
.theme a:hover {
  text-decoration: underline;
}
.theme a:visited {
  color: var(--color-link);
}

.bgglow:hover {
  background-color: var(--color-link-bg);
}

.theme h1 {
  font-weight: 500;
}

.theme * {
  box-sizing: border-box;
}

.containerOuter {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: var(--color-background);
  color: var(--color-text);
}

.containerInner {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
  width: 100%;
  max-width: 960px;
  padding: 32px 16px 16px 16px;
  padding-bottom: 64px;
}

.header {
  margin-bottom: 16px;
}

.spacedFlexRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.avatar {
  border-radius: 50%;
}

.helloText {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 700;
}

.navLinks {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
}

.navLink {
  font-family: 'Roboto Condensed';
  font-weight: 700;
  text-transform: uppercase;
}
